# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Docker
**/bin/
**/obj/
docker-compose.override.yml

# Others
*.db
*.db-shm
*.db-wal